extends ../layouts/main.pug 
block title 
    span Add product
    
block content 
     form(action="/admin/add-product" , method="POST") 
                div 
                    label Product name
                    input(type="text",name="name")
                button(type="submit") Submit 