extends ../layouts/main.pug

block title 
    span  List of all products
block content 
            if products.length > 0
                each product in products 
                    .product 
                        h1 #{product}
            else
                p No products found