<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | products</title>
</head>
<body>
    <header>
        <h1>Admin | products</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin/products">Products</a></li>
                <li><a href="/admin/add-product">Add product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>List of products</h2>
        <% if(products.length > 0) {%>
            <% for(let product of products) { %>
            <p><%= product %></p>
            <% } %>
                
        <% } else { %>
            <p>No products found</p>
        <% } %>
</body>
</html>