doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/style.css")
    body 
        header 
            h1 Admin | 
                block title
            nav
            ul
                li
                    a(href="/admin/products" ,class=(path == '/admin/products' &&  'active')) Products
                li 
                    a(href="/admin/add-product",class=(path == '/admin/add-product' &&  'active')) Add Product
                
                li 
                    a(href="/" ,class=(path == '/' &&  'active')) Shop
        main
            block content
            
            